body{
	margin:0;
	padding:0;
	font-family:poppins;
	font-size: 16px;
    background-color: #f7f7f7;
}

.carousel-item img{
    width: 100%;

}
.header-menu{
    background-color: rgba(247,247,247,0.2);
    /*background-color: transparent;*/
    min-height: 90px;
    position: relative;
    z-index: 2;
}
.slider{
    margin-top: -90px;
}
.logo{
	height: 60px;
}
.navbar-light .navbar-nav .nav-link {
    color: #ccc;
    font-size: 0.9em;
    padding-right: 9px;
    line-height: 20px;
    padding-right: 31px;
    padding: 27PX 10px;
    letter-spacing: 1PX;
}
    .navbar-light .navbar-nav .nav-link:hover{
    	color: #99191b;
    }
.dntbtn {
    background-color: #ee3131;
    border: none;
    color: #fff;
    height: 38px;
    width: 109px;
    margin-top: 19px;
    margin-left: 21px;
    border-radius: 5px;
}
.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}
.slidertext1 {
    bottom: 300px;
    text-align: justify;
    font-weight: 700;
    font-size: 3em;
    position: absolute;
}
.slidertext2 {
    bottom: 240px;
    text-align: justify;
    position: absolute;
    font-size: 1.5em;
}
.slidertext3{
	 position: absolute;
	 bottom: 205px;
    text-align: justify;
    font-size: 1.5em;
	padding-top: 10px;
}
.finac {
    color: #0f0a1e;
    font-size: 38px;
    line-height: 46.74px;
    padding-top: 220px;
    padding-left: 14px;
    font-weight: 700;
}
.finac1 {
    color: #4f4f4fcc;
    font-size: 22px;
    line-height: 36.96px;
    padding-left: 14px;
    font-weight: 400;
}
.circle{
	background: #9a856b;
    width: 9.51437em;
    height: 9.51437em;
    border-radius: 100%;
    position: absolute;
    bottom: -1.25em;
    left: 4.375em;
    animation: mymove 8s infinite;
  
}
.circle1{
	  background: #191e37;
    width: 5.51437em;
    height: 5.51437em;
    border-radius: 100%;
    position: absolute;
    bottom: 12.75em;
    left: 29.375em;
    animation: mymove 8s infinite;
}

.circle2 {
    background: #191e37;
    width: 5.51437em;
    height: 5.51437em;
    border-radius: 100%;
    position: absolute;
    bottom: -1.25em;
    left: 1.375em;
    animation: mymove 8s infinite;
}
.circle3 {
    background: #99191b;
    width: 5.51437em;
    height: 5.51437em;
    border-radius: 100%;
    position: absolute;
    bottom: 10.75em;
    left: 27.375em;
    animation: mymove 8s infinite;
}


@keyframes mymove{
 0% {
    transform: translate3d(10px,10px,10px) scale(1);
}
 50% {
    transform: translate3d(50px,30px,50px) scale(.9);
}
  100% {
    transform: translate3d(10px,10px,10px) scale(1);
}
}
.card-title{
    font-size: 1.75em;
    font-weight: 600;
    color: #333;
}
.card-text{
    font-weight: 500;
    font-size: 1.25em;
    color: #333;
}
.card{
    border-radius: 20px;
}
.card-image{
     margin: 10px;
    border-radius: 20px;
    overflow: hidden;
}
.card-mission{
    margin-top: 100px;
}
.footer{
	background-color: #333;
	color: #ccc;
	padding: 65px 0;
    margin-top: 110px;
}
.footer h6{
font-weight: bold;
color: #fff;
}
.footer p{
	line-height: 32px;
}
.footerlogo{
	height: 60px;
}
.footer-menu .nav-link{
    color: #cccccc;
    padding: 6px 0;
}
.footer-menu .nav-link:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 768px) {

.card {
    border-radius: 20px;
    margin-bottom: 30px;
}
.slider {
     margin-top: 0px; 
}
    .col {
    -ms-flex-preferred-size: 0;
    flex-basis: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
    min-width: 0;
    max-width: 100%;
    margin-bottom: 30px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    padding: 11PX 10px;
}
.dntbtn {
    margin-left: 10PX;
}

}